.card{
  background: rgb(254, 254, 254);

}

.heading{
background:rgb(119, 26, 26);

}

.text-light{
position: relative;
top: 31px;


}

body{
  background-image: url("https://media.istockphoto.com/id/639392022/vector/bookshelves-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=1DNOwFJabnlqHzShnSHfWOsNBUTtIaOgFBcpGQO_-oQ=");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
